---
title: Account authentication
order: 2
---

# Account authentication

The process of authenticating emails after registration is an important step to ensure confidentiality and ensure that users provide accurate information.

The authentication process involves the system sending to the email address that the user provided during registration an authentication link. The user completes the authentication by going to the email and clicking on the link.

**Step 1**: Users complete the registration steps successfully

The system sends **verification email** to the user, and displays the **Activation** screen, with the main information:

- Subject: Activation email sent!

- What it's about: Please check your user-email\@gmail.com inbox for more instructions. If you haven't received it yet, would you like to resend the link?

- **"Resend verification email"**: The system will resend the authentication email to the user (The latest email will be a valid authentication email)

- \*\*"Sign out of Sigma" button: The system displays a confirmation pop-up:
  - Title: Logging out of Sigma
  - Contents: Are you sure you want to sign out?
  - Button **"Cancel"**: Cancel done, return to the previous screen
  - **"Confirm" button**: the system performs a logout from the account, returns to the **login screen**

Step 2: Email access users check the email box, and click on the link.

The path directs the user to the successful access screen, the system displays the application list screen

**<u>Note</u>**: The validity period of the authentication path is limited to 24 hours (after this period, users must click the **"Resend verification email" button** for the system to resend a new authentication email)
