---
title: Xác thực tài khoản
order: 2
---

# Xác thực tài khoản

Quá trình xác thực email sau khi đăng ký là một bước quan trọng để đảm bảo tính bảo mật và chắc chắn rằng người dùng cung cấp thông tin chính xác.

Quy trình xác thực bao gồm việc hệ thống gửi đến địa chỉ email mà người dùng đã cung cấp trong quá trình đăng ký một đường dẫn xác thực. Người dùng hoàn tất việc xác thực bằng cách truy cập vào email và nhấn vào đường dẫn đó.

**Bước 1**: Người dùng hoàn thành các bước đăng kí thành công

Hệ thống gửi **email xác thực** đến người dùng, đồng thời hiển thị màn hình **Kích hoạt**, với các thông tin chính:

- Tiêu đề: Đã gửi email kích hoạt!

- Nội dung: Vui lòng kiểm tra hộp thư đến user-email\@gmail.com của bạn để biết thêm hướng dẫn. Nếu bạn chưa nhận được, bạn có muốn gửi lại liên kết?

- Nút **"Gửi lại email xác minh"**: Hệ thống sẽ gửi lại email xác thực cho người dùng (Email mới nhất sẽ là email xác thực hợp lệ)

- Nút **"Đăng xuất khỏi Sigma"**: Hệ thống hiển thị pop-up xác nhận:
  - Tiêu đề: Đăng xuất khỏi Sigma
  - Nội dung: Bạn có chắc chắn muốn đăng xuất không?
  - Nút **"Hủy bỏ"**: Hủy bỏ thực hiện, quay lại màn hình trước đó
  - Nút **"Xác nhận"**: hệ thống thực hiện đăng xuất khỏi tài khoản, quay lại màn hình **đăng nhập**

Bước 2: Người dùng truy cập email kiểm tra hòm thư điện tử, và bấm vào đường dẫn.

Đường dẫn hướng người dùng tới màn hình truy cập thành công, hệ thống hiển thị màn hình danh sách ứng dụng

**<u>Lưu ý</u>**: Thời gian hiệu lực của đường dẫn xác thực được giới hạn trong 24 giờ (sau khoảng thời gian này, người dùng phải thực hiện bấm nút **"Gửi lại email xác minh"** để hệ thống gửi lại email xác thực mới)
